style{

    bg-color:grey5;
    field-color:grey30;

    text-color:white;
    font:Arial Bold;
    nadpis-size:20;
    text-size:15;
    end-icon:stop;
    pause-icon:pause;

    padx:20;
    pady:20;

    btn-highlight-color:grey50;
    btn-highlight-thickness:1;
    btn-highlight-background:grey50;
    btn-color:DeepSkyBlue4;
}