style{

    bg-color:grey84;
    field-color:grey90;

    text-color:black;
    font:Arial Bold;
    nadpis-size:20;
    text-size:15;
    end-icon:stop;
    pause-icon:pause;

    padx:20;
    pady:20;

    btn-highlight-color:white;
    btn-highlight-thickness:1;
    btn-highlight-background:white;
    btn-color:OliveDrab1;
}
